@page
@model StockProject.Pages.Supplier.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card">
                <div class="card-body">
                    <h1 class="card-title text-center fs-4 mb-4 fw-bold text-muted">Informações</h1>

                    <h4 class="card-subtitle mb-4 text-center text-secondary">Fornecedor</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3 text-dark">Nome:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Supplier.Name)</dd>

                        <dt class="col-sm-3 text-dark">Endereço:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Supplier.Address)</dd>

                        <dt class="col-sm-3 text-dark">CNPJ:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Supplier.CNPJ)</dd>

                        <dt class="col-sm-3 text-dark">CEP:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Supplier.CEP)</dd>

                        <dt class="col-sm-3 text-dark">Data de Criação:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Supplier.CreatedAt)</dd>

                        <dt class="col-sm-3 text-dark">QRCode:</dt>
                        <dd class="col-sm-9">
                            @Model.Supplier.GenerateQRCode()
                        </dd>
                    </dl>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a asp-page="Index" class="btn btn-danger me-md-2 btn-lg fs-5" role="button">
                            <i class="bi bi-box-arrow-left"></i>
                            Cancelar</a>
                        <a asp-page="./Edit" asp-route-id="@Model.Supplier.Id" class="btn btn-warning btn-lg fs-5">
                            <i class="bi bi-pencil-square"></i>
                            Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
