@page
@model StockProject.Pages.Material.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card">
                <div class="card-body">
                    <h1 class="card-title text-center fs-4 mb-4 fw-bold text-muted">Detalhes do Material</h1>

                    <h4 class="card-subtitle mb-4 text-center text-secondary">Material</h4>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3 text-dark">Código:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.Code)</dd>

                        <dt class="col-sm-3 text-dark">Nome:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.Name)</dd>

                        <dt class="col-sm-3 text-dark">Descrição:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.Description)</dd>

                        <dt class="col-sm-3 text-dark">Código Fiscal:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.FiscalCode)</dd>

                        <dt class="col-sm-3 text-dark">Espécie:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.Specie)</dd>

                        <dt class="col-sm-3 text-dark">Data de Criação:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.CreatedAt)</dd>

                        <dt class="col-sm-3 text-dark">Data de Atualização:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.UpdatedAt)</dd>

                        <dt class="col-sm-3 text-dark">Criado Por:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.CreatedBy)</dd>

                        <dt class="col-sm-3 text-dark">Atualizado Por:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Material.UpdatedBy)</dd>
                        <dt class="col-sm-3 text-dark">Nome do Fornecedor:</dt>
                        @{
                            var supplierName = Model.Material.Supplier != null ? Model.Material.Supplier.Name : "";
                        }
                        <dd class="col-sm-9">@supplierName</dd>
                    
                    </dl>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a asp-page="Index" class="btn btn-danger me-md-2 btn-lg fs-5" role="button">Cancelar</a>
                        <a asp-page="./Edit" asp-route-id="@Model.Material.Id" class="btn btn-warning btn-lg fs-5">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
